Source: ros-noetic-dynamixel-sdk-examples
Section: misc
Priority: optional
Maintainer: Will Son <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-dynamixel-sdk, ros-noetic-message-generation, ros-noetic-roscpp, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-dynamixel-sdk-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-dynamixel-sdk, ros-noetic-message-runtime, ros-noetic-roscpp, ros-noetic-std-msgs
Description: The DYNAMIXEL SDK ROS example package
